body {
    color: white;
    font-size: 30px;
}

.header {
    width: 100%;
    height: 80px;
    background: rgb(10, 1, 141);
    margin-bottom: 10px;

}

.container {
    display: flex;
    min-height: 100vh;
    margin-bottom: 10px;
}

.sidebar {
    width: 20%;    
    background: forestgreen;
    margin-right: 10px;
}

.content {
    color: black;
    width: 80%;
    background: gold;
    
}

.footer {
    width: 100%;
    height: 200px;
    background: rgb(0, 0, 0);
}